<!-- Include Bootstrap CSS -->

<!-- HTML structure for the scanner component -->
<div id="liveAlertPlaceholder"></div>
<div id="reader" width="600px" height="auto"></div>

<!-- Include your custom JavaScript for scanner functionality -->
<script src="./scanner.component.js"></script>

<!-- Include the HTML5 QR Code scanner library -->
<script src="./libraries/html5-qrcode/html5-qrcode.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="./libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
